html, body {
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
    font-family:Meiryo;
}

.container {
    padding-left: 0px;
    margin-left: 0px;
    width:900px;
}

h1 {
    font-weight: bold;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

.sidebar-fixed {
    top:0px;
    background-color:#4d394b;
    color : white;
    position: fixed;
    padding-left:25px;
    padding-right:25px;
    width:250px;
    height:100%;
    z-index:0;
}

.sidebar-fixed a{
    color : #ab9ba9;
}

.sidebar-fixed h3 {
    font-size:20px;
    color : #ab9ba9;
    font-weight: bold;
    float:left;
}

.sidebar-fixed h4 {
    font-size: 16px;
    color: #ab9ba9;
    font-weight: bold;
    margin: 0px;
}

.create{
    float:right;
    margin-top:20px;
}

.refresh{
    float:right;
    margin-top: -22px;
}

.chatSpace {
    margin-left: 320px;
}

.chatSpace span.created_on{
    color : LightGray;
}

.chatSpace span.username{
    font-weight: bold;
}

.ticketSummary {
    width: 100%;
    position: fixed;
    background-color:white;
    top:0px;
}

.ticketSummary h2{
    width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.ticketSummary h2 a {
    color: black;

}

.sidebar-list {
    clear:both;
}

p.issue, p.project{
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.commentList {
    width: 100%;
    margin-top:200px;
    margin-bottom: 150px;
}

.updateForm{
    width: 100%;
    position:fixed;
    bottom: 0;
    height: 100px;
}

textarea {
    min-width:55%;

}

p.notes {
    margin-left:30px;

}

.settingForm label {
    width:150px;
}

.modal {
    background-color: white;
    top: 50%;
    left: 50%;
    margin-left:-150px;
    margin-top:-200px;
    width: 500px;
    height: 400px;
    display: block;
}

p.result {
    color :green;
    width: 200px;
    font-weight: bold;
    float: left;
    text-align: left;
}
.ticketSummary table {
    width:60%;
}

.ticketSummary table tbody tr th, .ticketSummary table tbody tr td{
    width:100px;
    padding:4px;
}

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.modal-back {
    z-index: 1;
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0,0,0,0.75);

}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.settingFrom {
    margin-bottom:15px;
}