    <div class="row">
        <div ng-controller="MainController">
            <div class="col-md-3">
                <div ng-repeat="issue in issues.issues">
                    <a href="#/issue/{{issue.id}}"><p>#{{issue.id}} {{issue.subject}}</p></a>
                </div>
            </div>
            <div ng-controller="detailController">
                <div class="col-md-9">
                    <h2>{{issue.issue.subject}}</h2>
                </div>
            </div>
        </div>
    </div>
