    <div class="row" ng-controller="MainController">
            <div class="sidebar-fixed">
                <h1><a href="#/">Chatmine</a></h1>
                <ul>
                    <div ng-repeat="issue in issues.issues">
                        <li><a href="#/issue/{{issue.id}}"><p>#{{issue.id}} {{issue.subject}}</p></a></li>
                    </div>
                </ul>
            </div>
        </div>
            <div class="chatSpace">
                <p>issue.html</p>                
            </div>
        </div>
    </div>
