    <div class="row" ng-controller="projectController">
            <div class="sidebar-fixed">
                <h1><a href="#/">Chatmine</a></h1>
                <h3>PROJECTS</h3>
                <div class="page">
                    <button class="btn btn-default btn-xs" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">←</button>
                    {{currentPage+1}}/{{numberOfPages()}}
                    <button class="btn btn-default btn-xs" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">→</button>
                </div>
                <div class="ticketList">
                    <ul style="list-style:none;margin-left: -20px;">
                        <div ng-repeat="project in projects | startFrom:currentPage*pageSize | limitTo:pageSize">
                            <li><a href="#/project/{{project.id}}"><p class="issue">#{{project.id}} {{project.name}}</p></a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
            <div class="chatSpace">
            </div>
        </div>
    </div>
