html, body {
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
    font-family:Meiryo;
}

.container {
    margin-left:0px;
}

h1 {
    font-weight: bold;
}


.sidebar-fixed {
    background-color:#4d394b;
    color : white;
    position: fixed;
    padding-left:25px;
    padding-right:25px;
    width:300px;
    height:100%;
    z-index:0;
}

.sidebar-fixed a{
    color : #ab9ba9;
}

.sidebar-fixed h3 {
    font-size:20px;
    color : #ab9ba9;
    font-weight: bold;
    float:left;
}

.page{
    margin-top: 30px;
    margin-left: 120px;
}

.create{
    float:right;
    margin-top: -22px;
}

.chatSpace {
    margin-left: 300px;
    padding-right: 30px;
    padding-left: 30px;
}

.chatSpace span.created_on{
    color : LightGray;
}

.chatSpace span.username{
    font-weight: bold;
}

.ticketSummary {
    width: 100%;
    position: fixed;
    background-color:white;
    top:0px;
}

.ticketList {
    clear:both;

}

p.issue {
    margin-bottom:0px;

}


.commentList {
    width: 100%;
    margin-top:100px;
    margin-bottom: 150px;
}

.updateForm{
    width: 100%;
    position:fixed;
    bottom: 0;
    height: 100px;
}

textarea {
    min-width:55%;

}

p.notes {
    margin-left:30px;

}

.settingForm label {
    width:150px;
}

.modal {
    background-color: white;
    top: 50%;
    left: 50%;
    margin-left:-150px;
    margin-top:-200px;
    width: 500px;
    height: 400px;
    display: block;
}

p.result {
    color :green;
    width: 100px;
    font-weight: bold;
    float: left;
    text-align: left;
}
.ticketSummary table {
    width:60%;
}

.ticketSummary table tbody tr th, .ticketSummary table tbody tr td{
    width:100px;
    padding:4px;
}
